<div class="search-bar-container">

    <!-- search bar title -->
    <h1>Stay healty and choose  <br> 
        <span class="title-color">your</span>  
        <span class="title-color-2">vegan</span> 
        <span class="title-color">recipe</span>
    </h1>
    <!-- search bar title -->

    <div class="search-spacing">
        <input class="search-bar" type="text" [(ngModel)] = "userChoice" placeholder="Search your vegan recipe">

        <button class="search-button" (click)="search()">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>


<!-- recipes section -->
<section class="recipes-container">
    <h2>Recipes</h2>


    <!-- <div *ngIf="4 < 5" >ciao</div> -->

    <!-- default recipes -->
    <div class="card" *ngFor="let recipe of allVeganRecipes" ngIf="userRecipesSearched">
        <img src="{{recipe.image}}" alt="cibo">
        <p>{{recipe.title}}</p>
    </div>
    <!-- default recipes -->

    <!-- query recipes -->
    <div class="card" *ngFor="let recipe of userRecipesSearched" routerLink="/recipes-details/{{recipe.id}}">
        <img src="{{recipe.image}}" alt="cibo">
        <p>{{recipe.title}}</p>

    </div>
    <!-- query recipes -->

    <!-- <button routerLink="recipes-details"> go</button> -->

    <!-- [ngClass]="{hidden: userRecipesSearched}" -->

    <!-- routerLink="/recipes-details/{{recipe.id}}" -->

</section>

