@import "../../styles/variables";
// .def-card {
//         border: 1px solid black ;
//         width: 10%;
//         display: inline-block;
//         cursor: pointer;
    
//         img {
//             height: 50px;
//             width: auto;
//         }
// }

.search-bar-container {
    width: 95%;
    margin: auto;
    padding-top: 90px;
    padding-left: 195px;

    .slogan {

        h1 {
            padding-top: 130px;
            // text-align: center;
            // width: 44%;
            font-size: 58px;
        }
    
        span {
            padding-right: 12px;
        }
    
        .title-color {
            color: $primary-color;
        }
    
        .title-color-2 {
            color: $third-color;
        }
    
    
        .input-container {
            padding-top: 33px;
        }
        // .search-spacing {
    
        //     padding-left: 206px;
        //     padding-top: 38px;
    
            .search-bar {
                // background-color: red;
                outline: none;
                border: none;
                background-color: rgb(231, 231, 231);
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                padding: 7px 30px;
                text-align: center;
            }
        
            .search-button {
                background-color: rgb(231, 231, 231);
                border: none;
                outline: none;
                padding: 7px 30px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                color: $primary-color;
        
                i {
                    cursor: pointer;
                }
            }
        // }
    }

}


.hidden {
    display: none;
}


h2 {
    text-align: center;
    font-size: 40px;
    color: $third-color;
    padding-top: 190px;
}


// recipe

.small-wrapper {
    width: 80%;
    margin: auto;

    .card-container {
        
        padding: 60px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        

        .card {
            width: calc( ( 100% / 4 ) - 80px );
            // text-align: center;
            background-color: $fourth-color;
            border-radius: 10px;
            padding: 20px;
            margin: 0 20px;
            margin-bottom: 20px;
            cursor: pointer;
            

            .title {
                white-space:normal;
            }

            .card-img {

                img {
                    border-radius: 10px;
                }
            }
        }
    }
}


@media screen and (min-width: 1921px) {
    .search-bar-container  {
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .search-bar-container {
        width: 100%;
        margin: none;
        padding-top: 0px;
        padding-left: 0px;
    
        .slogan {
            text-align: center;

            h1 {
                // padding-top: 130px;
                // text-align: center;
                // width: 44%;
                font-size: 58px;
            }
        
            span {
                padding-right: 12px;
            }
        
            .title-color {
                color: $primary-color;
            }
        
            .title-color-2 {
                color: $third-color;
            }
        
        
            .input-container {
                padding-top: 33px;
            }
            // .search-spacing {
        
            //     padding-left: 206px;
            //     padding-top: 38px;
        
                .search-bar {
                    // background-color: red;
                    outline: none;
                    border: none;
                    background-color: rgb(231, 231, 231);
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    padding: 7px 30px;
                    text-align: center;
                }
            
                .search-button {
                    background-color: rgb(231, 231, 231);
                    border: none;
                    outline: none;
                    padding: 7px 30px;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    color: $primary-color;
            
                    i {
                        cursor: pointer;
                    }
                }
            // }
        }
    
    }

    h2 {
        text-align: center;
        font-size: 40px;
        color: $third-color;
        padding-top: 70px;
    }

    .small-wrapper {
        width: 80%;
        margin: auto;
    
        .card-container {
            
            padding: 60px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
    
            .card {
                width: calc( ( 100% / 2 ) - 60px );
                // text-align: center;
                background-color: $fourth-color;
                border-radius: 10px;
                padding: 20px;
                margin: 0 20px;
                margin-bottom: 20px;
                cursor: pointer;
                
    
                .title {
                    white-space:normal;
                }
    
                .card-img {
    
                    img {
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

// iphone
@media screen and (max-width: 767px) {
    .search-bar-container {
        width: 100%;
        margin: none;
        padding-top: 0px;
        padding-left: 0px;
    
        .slogan {
            text-align: center;

            h1 {
                // padding-top: 130px;
                // text-align: center;
                // width: 44%;
                padding-top: 80px;
                font-size: 30px;
            }
        
            span {
                padding-right: 12px;
            }
        
            .title-color {
                color: $primary-color;
            }
        
            .title-color-2 {
                color: $third-color;
            }
        
        
            .input-container {
                padding-top: 33px;
            }
            // .search-spacing {
        
            //     padding-left: 206px;
            //     padding-top: 38px;
        
                .search-bar {
                    // background-color: red;
                    outline: none;
                    border: none;
                    background-color: rgb(231, 231, 231);
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    padding: 7px 30px;
                    text-align: center;
                }
            
                .search-button {
                    background-color: rgb(231, 231, 231);
                    border: none;
                    outline: none;
                    padding: 7px 30px;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    color: $primary-color;
            
                    i {
                        cursor: pointer;
                    }
                }
            // }
        }
    
    }

    h2 {
        text-align: center;
        font-size: 25px;
        color: $third-color;
        padding-top: 70px;
    }

    .small-wrapper {
        width: 80%;
        margin: auto;
    
        .card-container {
            
            padding: 30px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
    
            .card {
                width: calc( ( 100% / 1 ) - 60px );
                // text-align: center;
                background-color: $fourth-color;
                border-radius: 10px;
                padding: 20px;
                margin: 0 20px;
                margin-bottom: 20px;
                cursor: pointer;
                
    
                .title {
                    white-space:normal;
                }
    
                .card-img {
    
                    img {
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}