<div class="search-bar-container">

    <!-- search bar title -->
    <h1>Stay healty and choose  <br> 
        <span class="title-color">your</span>  
        <span class="title-color-2">vegan</span> 
        <span class="title-color">recipe</span>
    </h1>
    <!-- search bar title -->

    <div class="search-spacing">
        <input class="search-bar" type="text" [(ngModel)] = "userChoice" placeholder="Search your vegan recipe">

        <button class="search-button" (click)="search()">
            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>


<!-- recipes section -->
<section>
    <div class="recipes-section-title">
        <h2>Recipes</h2>
    </div>



    <div class="small-wrapper">
        
        <div class="card-container">

             <!-- default recipes -->
            <div class="card" *ngFor="let recipe of allVeganRecipes">
                <div class="card-img">
                    <img src="{{recipe.image}}" alt="cibo">
                </div>

                <div class="title">
                    <p>{{recipe.title}}</p>
                </div>
            </div>
            <!-- default recipes -->

        </div>
    
    </div>

    <!-- query recipes -->
    <!-- <div class="card" *ngFor="let recipe of userRecipesSearched" routerLink="/recipes-details/{{recipe.id}}">
        <img src="{{recipe.image}}" alt="cibo">
        <p>{{recipe.title}}</p>

    </div> -->
    <!-- query recipes -->


</section>

