@import "../../styles/variables";


header {
    background: rgb(149,205,65);
    background: linear-gradient(23deg, rgba(149,205,65,1) 42%, rgba(255,127,63,1) 55%);

    .header-container {
        width: 95%;
        margin: auto;
    
        p {
            display: inline-block;
            padding: 5px 5px;
        }
    
        .logo-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            // to delete
            // background-color: $primary-color;
    
            .logo-image {
                display: flex;
                align-items: center;
    
                h1 {
    
                    padding-left: 10px;
    
                    .veg {
                        color: black;
                    }
    
                    .eats {
                        color: $primary-color;
                    }
                }
            }
    
            embed {
                height: 80px;
                width: auto;
            }
    
    
            .links-container {
    
                padding-right: 290px;
                 
                ul {
                    list-style-type: none;
    
                    li {
                        display: inline-block;
                        padding: 5px 5px;
    
                        a {
                            text-decoration: none;
                            color: black;
                            border-bottom: 3px solid $primary-color;
                            font-size: 20px;
                            font-weight: bold;
    
                            i {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
    
            .burger-menu-container {
    
                i {
                    display: none;
                    cursor: pointer;
                    color: black;
    
                }
            }
        }
    }
}

// mediaquery

@media screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        padding: 20px 20px;
        background: rgb(149,205,65);
        background: linear-gradient(23deg, rgba(149,205,65,1) 42%, rgba(255,127,63,1) 55%);
        
    
        .header-container {
            width: 95%;
            margin: auto;
        
            p {
                display: inline-block;
                padding: 5px 5px;
            }
        
            .logo-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                // to delete
                // background-color: $primary-color;
        
                .logo-image {
                    display: flex;
                    align-items: center;
        
                    h1 {
                        font-size: 33px;
                        padding-left: 10px;
        
                        .veg {
                            color: black;
                        }
        
                        .eats {
                            color: $primary-color;
                        }
                    }

                    embed {
                        height: 52px;
                        width: auto;
                    }
                }
        
               
        
        
                .links-container {

                    padding-right: 139px;
                     
                    ul {
                        list-style-type: none;
        
                        li {
                            display: inline-block;
                            padding: 5px 5px;
        
                            a {
                                text-decoration: none;
                                color: black;
                                border-bottom: 3px solid $primary-color;
                                font-size: 20px;
                                font-weight: bold;
        
                                i {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
        
                .burger-menu-container {
        
                    i {
                        display: none;
                        cursor: pointer;
                        color: black;
        
                    }
                }
            }
        }
    }
    
}

// iphone
@media screen and (max-width: 896px) {

    header {
        background: rgb(149,205,65);
        background: linear-gradient(23deg, rgba(149,205,65,1) 42%, rgba(255,127,63,1) 55%);
    
        .header-container {
            width: 95%;
            margin: auto;
        
            p {
                display: inline-block;
                padding: 5px 5px;
            }
        
            .logo-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
        
                // to delete
                // background-color: $primary-color;
        
                .logo-image {
                    display: flex;
                    align-items: center;
        
                    h1 {
        
                        font-size: 25px;
                        padding-left: 10px;
        
                        .veg {
                            color: black;
                        }
        
                        .eats {
                            color: $primary-color;
                        }
                    }
                }
        
                embed {
                    height: 30px;
                    width: auto;
                }
        
        
                .links-container {

                    display: none;
                    padding: 0;
                    // padding-right: 139px;
                     
                    ul {
                        list-style-type: none;
        
                        li {
                            display: inline-block;
                            padding: 5px 5px;
        
                            a {
                                text-decoration: none;
                                color: black;
                                border-bottom: 3px solid $primary-color;
                                font-size: 20px;
                                font-weight: bold;
        
                                i {
                                    font-size: 22px;
                                }
                            }
                        }
                    }
                }
        
                .burger-menu-container {
        
                    i {
                        // to transform in mobile
                        display: block;
                        cursor: pointer;
                        color: black;
        
                    }
                }
            }
        }
    }

}