<app-header></app-header>

<section>

    <!-- recipes details container -->
    <div class="recipe-details-container">

        <!-- title -->
        <div class="details-title">
            <h3>{{title}}</h3>
        </div>
        <!-- title -->

        <!-- info container -->
        <div class="deatils-container">
    
            <div class="details-img">
                <img src="{{pic}}">
            </div>
    
            <div class="details-infos">
                
                <p> 
                    <i class="fas fa-clock"></i>
                    Preparation Time:
                    <span>{{preparationTime}}</span> 
                </p>

                <p>
                    <i class="fas fa-pizza-slice"></i>
                    Servings: <span>{{serving}}</span>
                </p>

                <p>
                    <i class="fa-solid fa-wine-glass"></i>
                    Wines: 
                    <span class="comma">
                        {{winesArray}}
                    </span>
                </p>
                
            </div>
        </div>
        <!-- info container -->


        <!-- ingridient -->
        <div class="ingridients">
            <h4>Ingridients </h4>
            <!-- <p *ngFor="let ingridient of ingridients.toString()">
                <span>{{ingridient.name}},</span>
            </p> -->

            <p>
                <span class="comma">
                    {{ingridientsArray}}
                </span>
            </p>
        </div>
        <!-- ingridient -->
    
        <!-- summury -->
        <div class="summury">
            <h4>Summury</h4>
            <p [innerHTML]="sum"></p>
        </div>
        <!-- summury -->

        <!-- directives -->
        <div class="directives">
            <h4>Directives</h4>
            <p [innerHTML]="directives"></p>
        </div>
        <!-- directives -->
        
    </div>
    <!-- recipes details container -->

    
    
</section>

<app-footer></app-footer>
